<h1><%= "#{@user.attributes['username']}" %></h1>

<% if current_user == @user %>
  <%= render 'form', url: user_path(@user), user: @user %>
  <p>Link your social!</p>  
  <p>This will not merge any existing data associated with any other accounts</p>  
  <%= render 'social' %>
<% end %>
<ul>
  <li><%= "User id: #{@user.attributes['id']}" %></li>
  <li><%= link_to "User Reviews", user_reviews_path(@user) %></li>
  <li><%= link_to "User Views", user_views_path(@user) %></li>
</ul>
