<h1>Views by <%= @user.username %></h1>
<% unless @views.empty? %>
   <% @views.each do |view| %>
    <h4><%= link_to view.medium.element.title, medium_path(view.medium) %></h4>
    <p>Viewed on: <%= view.created_at %></p>
    
    <% if @user == current_user %>
      <div class='current_user_actions_view_<%=view.id%>'>    
        <%= form_tag view_path(view), method: 'delete' do %>
          <%= submit_tag 'Delete view'%>
        <% end %>
      </div>
    <% end %>
    <hr>
  <% end %> 
<% else %>
  <p><%= @user.username %> has no views!</p>
<% end %> 

