<article id='medium'>  
  <section id='medium-data'>
  </section>
  <section id='additional_info'>
    <% if logged_in? %>
      <% unless current_user.views.any? { |view| view.medium_id == medium.medium_id } %>
        <%= render 'views/new_view', view: View.new, medium_id: medium.medium_id %>
      <% end %>

      <h4>Review this <%= medium.medium.medium_type %>!</h4>
      <%= render 'notice' %>
      <%= render 'reviews/form', review: Review.new, medium_id: medium.medium_id %>
    <% else %>
      <p>Log in to add a review!</p>
    <% end %>

    <% unless medium.class.name == 'Movie' || medium.class.name == 'Episode' %>
      <%= render 'media/children', medium: medium %>
      <% if medium.class.name == 'Series' %>
        <%= render '/media/prompt_new', medium_name: 'Season', new_path: new_series_season_path(series_id: medium.id) %>
      <% else %>
        <%= render '/media/prompt_new', medium_name: 'Episode', new_path: new_series_season_episode_path(series_id: medium.parent.id, season_id: medium.id) %>
      <% end %>
    <% end %>
    <%= render 'media/parent', medium: medium %>
  </section>
</article>

<script type='text/javascript' charset='utf-8'>
  url = new URL(this.document.URL);
  DataHandler.prototype.renderData(`${url.pathname}/data`);  
</script>
