<article id='medium'>  
  <section id='data'>
    <h2 id='title'></h2>
    <section id='parent'></section>
    <section id='children'></section> 
    <section id='reviews'></section> 
  </section>
  <section id='actions'>
    <div id='add-child'>
      <% unless medium.class.name == 'Movie' || medium.class.name == 'Episode' %>
        <% if medium.class.name == 'Series' %>
          <%= render '/media/prompt_new', medium_name: 'Season', new_path: new_series_season_path(series_id: medium.id) %>
        <% else %>
          <%= render '/media/prompt_new', medium_name: 'Episode', new_path: new_series_season_episode_path(series_id: medium.parent.id, season_id: medium.id) %>
        <% end %>
      <% end %>
    </div>
    <% if logged_in? %>
      <div id='add-view'>
        <% unless current_user.views.any? { |view| view.medium_id == medium.medium_id } %>
          <%= render 'views/new_view', view: View.new, medium_id: medium.medium_id %>
        <% end %>
      </div>
      <div id='add-review'>
        <h4>Review this <%= medium.medium.medium_type %>!</h4>
        <%= render 'notice' %>
        <%= render 'reviews/form', review: Review.new, medium_id: medium.medium_id %>
      </div>
    <% else %>
      <p>Log in to add a review!</p>
    <% end %>
  </section>
</article>

<script type='text/javascript' charset='utf-8'>
  url = new URL(this.document.URL);
  DataHandler.prototype.renderData(`${url.pathname}/data`);  
</script>

<script type="text/javascript" charset="utf-8">  
review_form = document.getElementById('new_review');
if (review_form) {
  review_form.addEventListener('submit', event => {
        event.preventDefault();
        // update form to get user data
        review = new FormData(document.getElementById('new_review'));      
        fetch('/reviews', {
            method: 'post',
            body: review,
        })
        .then(response => {
          if (response.status === 201) {
            response.json().then(json => DataRenderer.prototype.appendReview(json));          
            // clearForm(review_form);
            review_form.reset();
          } else {
            // alert
          }
            review_form.lastElementChild.removeAttribute('disabled');
        });
    });
  }
</script>