<!DOCTYPE html>
<html>
  <head>
    <title>MediaReviews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in?%>
      <%= form_tag '/logout' do |f| %>
        <%= submit_tag 'Log Out' %>
      <% end %>
      <%= link_to 'Your Profile', user_path(current_user)%>
    <% else %>
      <%= link_to 'Log In', login_path%>
      <%= link_to 'Signup', signup_path%>
    <% end %>
    <p>current user: <%= current_user %></p>
    <p>logged_in?: <%= logged_in? %></p>    
    <p id="notice"><%= notice %></p>
    <%= yield %>
  </body>
</html>
